.tab-list-component {
  .close-icon {
    visibility: hidden;
  }

  .tab-item {
    padding-right: 0;
  }

  .tab-item:hover {
    .close-icon {
      visibility: visible;
    }

    .unsaved-icon {
      display: none;
    }
  }

  .tab-item.active {
    .close-icon {
      visibility: visible;
    }

    .unsaved-icon {
      display: none;
    }
  }
}
